body {
  background-color:hsl(39, 16%, 79%), 100%, 90%);
  
  font-family: 'Bacasime Antique ';
  color:  #9370DB;
}

@font-face {
  font-family: 'Bacasime Antique ';
  src:  url('./resources/fonts/Caveat/Shantell Sans-Regular.ttf') format('truetype');
}

p {
  font-size: 30px;
  text-align: center;
}
}

.button {
  border-radius: 5px;
  font-family: 'Shantell Sans';
  font-size: 30px;
  background-color: rgb(196, 232, 253); /* Green */
  border: none;
  color: rgb(224, 144, 124);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.home_button {
  background-color: rgb(189, 217, 253);
  color: #b86c39;
}

.home_button:hover {
  background-color: #ddc5fc;
  color: hsl(12, 86%, 67%), 100%, 91%);
}
