body {
  background-color:hsl(340, 49%, 69%), 100%, 90%);
  <img src=”(https://www.google.com/search?client=ubuntu&hs=nDW&channel=fs&q=pixelated+star&tbm=isch&sa=X&ved=2ahUKEwifxc6t-ZOAAxX4F1kFHfoQCSwQ0pQJegQIFBAB&biw=1867&bih=971&dpr=1#imgrc=12-LnByMf9U-qM)”>


  font-family: 'Bacasime Antique ';
  color:  #9370DB;
}

@font-face {
  font-family: 'Bacasime Antique ';
  src:  url('./resources/fonts/Caveat/Shantell Sans-Regular.ttf') format('truetype');
}

p {
  font-size: 30px;
  text-align: center;
}
