body {
  background-color:hsl(340, 49%, 69%), 100%, 90%);
  
  font-family: 'Bacasime Antique ';
  color:  #9370DB;
}

@font-face {
  font-family: 'Bacasime Antique ';
  src:  url('./resources/fonts/Caveat/Shantell Sans-Regular.ttf') format('truetype');
}

p {
  font-size: 30px;
  text-align: center;
}
}

.button {
  border-radius: 5px;
  font-family: 'Shantell Sans';
  font-size: 30px;
  background-color: rgb(194, 95, 29); /* Green */
  border: none;
  color: rgb(175, 134, 106);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.home_button {
  background-color: rgb(218, 141, 79);
  color: #CDD7D6;
}

.home_button:hover {
  background-color: #eb9d36;
  color: hsl(236, 100%, 91%), 100%, 91%);
}
